@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delius&family=Emblema+One&family=Italiana&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');
#text1{
    font-size: 24px;
    color: rgb(30, 30, 82);
    font-family: "Italiana", sans-serif;
    position: relative;
    left: 30px;

}

.box1{
   display: flex;
   justify-content: space-between;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
   
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    position: relative;
    gap: 50px;
    margin: 20px;
  
}
nav a{
    display: flex;
    justify-content:space-between;
    position: relative;
    gap: 50px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
header{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEXDseEeQFjUAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
}

a:hover{
    color: #e1dada;
    font-size: 30px;
}

#text2{
    color: chartreuse;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: 20px;
}
#text3{
    color: black;
    font-size: 30px;
    justify-content:"Italiana", sans-serif;
    position: relative;
    left: 20px;
}
#text4{
    color: rgb(0, 0, 0);
    font-size: 10px;
}
body{
   background-color: rgb(217, 213, 255);
}